.ICEauthority
.Private
.VirtualBox/
.WebStorm7/
.Xauthority
.bash_history
.bash_logout
.bashrc~
.cache/
charles.config
.charles/
.compiz/
.config/
.dmrc
.ecryptfs
.fonts/
.gconf/
.gimp-2.8/
.gitconfig
*.swp
.gnome/
.gnome2/
.gstreamer-0.10/
.heroku/
.httpie/
.icons/
.java/
.local/
.macromedia/
.mozilla/
.netrc
.node-gyp/
.pip/
.pki/
.pyenv/
.ssh/
.travis/
.vagrant.d/
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-stokeet-5.0.2
.zsh-update
.zsh_history
Documents/
Downloads/
Projects/
^-
charles/
examples.desktop
setuptools-2.0.1.tar.gz

.charles.config
.oh-my-zsh/
.profile
binaries/
.virtualenvs
.dbshell
.gem/
.lesshst
.mongorc.js
.qws
.rbenv/
.rediscli_history
.thunderbird
Pictures
Ubuntu One
hs_err_pid9982.log
tmp/
server
find_tutorial
vagrant
VirtualBox VMs
images
bootstrap.sh
pgadmin.log
pgadmin_historqueries
.pg
.python-version
.speech-dispatcher
.pgadmin_histoqueries .pgpass
.pg*
.PyCharm30
.workstuff
.xinputrc
Program.c
create_sample_files.sh
.nano_history
.gnupg
.synaptic
.FBReader/
.vim/plugin/
.vim/doc/
.ipython/
stoxswamp
*.csv 
*.png
*.zip
*.tar
*.tar.gz
*.pem

.workstuff
.xsession-errors
server
.npm
.nvm
.oh-my-zsh
.pyenv
.ssh
.unison
.node-gyp
.macromedia
.pki
.virtualenvs
.zcompdump
.mozilla
27b03dbf4fb7c4.crt gd_bundle-g2-g1.crt
*.crt
examples.desktop
.zsh-update
.lesshst
.histfile
.gnome
.gconf
.cache
.compiz
.dmrc
.bash_history
.ICEauthority
.zsh_history
.Xauthority
.local
.viminfo
.config
